header{
    text-align: center;
}
#banner{
    background: #fafec0;
    border-top: 3px solid red;
    height: 50px;
}

#banner span{
    text-transform: uppercase;
    font-weight: 600;
}

figcaption {
    color: grey;
}

#titolo h1{
    text-align: center;
}

#feature{
    border-left: 1px solid yellow;
    padding-left: 10px;
}

#feature p{
    text-transform: uppercase;
    color: red;
    font-weight: 600;
}

#ingredients p{
    font-size: large;
    font-weight: 900;
}
